.st-emotion-cache-yw8pof{
    width: 100%;
    padding: 0rem 1rem 10rem;
    max-width: 46rem;
}

.stSidebar{
    display:none;
    }
.st-emotion-cache-1ibsh2c{
    padding: 0rem 1rem 10rem;
    }        
.st-emotion-cache-13ln4jf{
    width: 70%;
    max-width: 100%;
    padding: 0;
    }