/* Hide Streamlit Default Header */
header {
  visibility: hidden;
}
/* Hide Streamlit Footer: Hosted with Streamlit */
._container_19b1q_1{
  display: none;
}

/* Decrease padding for sidebar toggle button */
.st-emotion-cache-1mi2ry5{
  padding: 0.5rem 1.5rem;
}

/* Hide nav bar on Sidebar */
[data-testid="stSidebarNav"]{
  display: none;
}
/* Padding correction for sidebar */
.st-emotion-cache-sih973{
  padding-top: 0;
}

/* Padding correction for chats */
.st-emotion-cache-1jicfl2{
  padding: 1.5rem 3rem 1rem;
}
.st-emotion-cache-7tauuy{
  padding: 1rem 3rem 1rem;
}

.st-au{
  background-color: rgb(47 159 147 / 20%);
}

/* Center Nav Items */
.st-emotion-cache-j7qwjs{
    align-items: center;
    }
/* Padding correction for Nav */
.st-emotion-cache-1ibsh2c{
  padding-top: 0;
  }